<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color:lightgreen;">
    <nav class="navbar navbar-expand-lg navbar-white bg-dark">
  <a class="navbar-brand" href=""><h2>Blogg</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <% if !user_signed_in? %>
        <a class="nav-link" href="/users/sign_up">Signup</a>
        <a class="nav-link" href="/users/sign_in">Login</a>
      <% else %>
        <a class="nav-link" href="/blogposts/new">NewPost</a>
        <a class="nav-link" href="/my_post">MyPosts</a>
        <a class="nav-link" href="/users/edit">Profile</a>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_confirm: "Are you sure?" },
        style:"text-decoration:none; background-color:#212529; color:blue; border-radius:20px", class:"nav-link" %>
      <% end %>
    </div>
  </div>
</nav>
    <b class="notice"><%= notice %></b>
    <b class="alert"><%= alert %></b>

    <form action="/" >
    <select name="category">
      <option value="hidden">All</option>
      <option value="IT">IT</option>
      <option value="Non-IT">Non-IT</option>
      <option value="Medical">Medical</option>
    </select>
    <button type="submit">Search</button>
    </form>
    <%= yield %>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>